<template>
  <div>
    <v-img :src="require('@/assets/golden_gate.jpg')" class="div"></v-img>
    <div class="wraper">
      <v-container grid-list-md>
        <v-layout row wrap justify-center>
          <PlaceCard v-for="place in places" v-bind:key="place.index" v-bind:place="place"/>
        </v-layout>
      </v-container>
    </div>
  </div>

</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import PlaceCard from '@/components/PlaceCard.vue';

@Component({
  components: {
    PlaceCard,
  },
})
export default class Home extends Vue {
  private places: any[];
  constructor() {
    super();
    this.places = [
      {
        name: 'California',
        text: 'El apodo del estado de California es "The Golden State" (El Estado Dorado), nombre que algunos suponen quizás provenga de los numerosos días en los que brilla el sol durante el año, o quizás del color dorado que pueden tomar los montes a ciertas horas del día (tal como ocurre en muchas otras partes del mundo).',
      },
      {
        name: 'Nueva York',
        text: 'Nueva York tiene 883 edificios rascacielos, una de las mayores concentraciones en el mundo. Rodeada principalmente por agua, la densidad residencial de la ciudad y el alto valor del terreno en los distritos comerciales hicieron que apareciese una de las más grandes colección de edificios de oficinas y torres residenciales del mundo.',
      },
      {
        name: 'Florida',
        text: 'Florida es reconocida por sus parques de atracciones (como Walt Disney World, Bush Gardens y Universal Studios Florida), sus cultivos de naranjos, sus verduras de invierno, el Centro Espacial Kennedy, y como un destino popular para los jubilados. La economía del estado se basa principalmente en el turismo, la agricultura y el transporte, que se desarrolló a fines del siglo XIX.',
      },
    ];
  }
}
</script>

<style scoped>
.div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.wraper {
  position: absolute;
  top: 100%;
  width: 100%;
}
</style>
