<template>
  <v-toolbar dark color="rgba(0, 0, 0, 0)" fixed v-scroll>
    <v-toolbar-title>Tourism</v-toolbar-title>

    <v-spacer></v-spacer>

    <v-btn icon>
      <v-icon>home</v-icon>
    </v-btn>

    <v-btn icon>
      <v-icon>place</v-icon>
    </v-btn>

    <v-btn icon>
      <v-icon>collections</v-icon>
    </v-btn>

    <v-btn icon>
      <v-icon>chat</v-icon>
    </v-btn>
  </v-toolbar>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

Vue.directive('scroll', {
  inserted: (el, binding) => {
    const f = (evt: any) => {
      if (window.scrollY > 10) {
        el.style.backgroundColor = '#0D47A1';
      } else {
        el.style.backgroundColor = 'rgba(0,0,0,0)';
      }
    };
    window.addEventListener('scroll', f);
  },
});

@Component
export default class NavBar extends Vue {
  constructor() {
    super();
  }
}

</script>

<style scoped>
</style>

