<template>
  <v-flex xs12 sm6 lg4>
    <v-card class="ma-2" hover min-height="380px">
      <v-img src="https://cdn.vuetifyjs.com/images/cards/desert.jpg" aspect-ratio="2.75"></v-img>

      <v-card-title primary-title>
        <div>
          <h3 class="headline mb-1">{{ place.name }}</h3>
          <div class="body-2">{{ place.text }}</div>
        </div>
      </v-card-title>

      <!-- <v-card-actions>
        <v-btn flat color="red">Share</v-btn>
        <v-btn flat color="red">Explore</v-btn>
      </v-card-actions> -->
    </v-card>
  </v-flex>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component({
  props: ['place'],
})
export default class PlaceCard extends Vue {
  constructor() {
    super();
  }
}
</script>

